{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "stage-2"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "production": {
      "presets": [
        "env",
        "react",
        "stage-2"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    }
  }
}