.mobx-input {
  width: 300px;
  height: 40px;
  border: 1px solid #dddddd;
  text-indent: 10px;
  border-radius: 3px;
}

.todo-list {
  border-bottom: solid 1px #ddd;
  padding: 20px;
}

.del {
  background-color: #1fbbca;
  float: left;
  border: none;
  border-radius: 30px;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.todo-right {
  float: right;
}

.copy {
  float: left;
  cursor: pointer;
}

.insert-todo {
  float: left;
  cursor: pointer;
  margin: 0 10px;
}