.state-todo-list {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.state-todo-list h1 {
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
}